# Importing Required Libraries

In [2]:
import pandas as pd

# Pandas Dataframes

## Creating dataframe (df) from dictionary

In [23]:
df = pd.DataFrame(data={'a':[1, 2], 'b':[3, 4]})
df

   a  b
0  1  3
1  2  4

In [24]:
df = pd.DataFrame(data={'a':[1, 2], 'b':[3, 4]}, index=['i', 'ii'])
df

    a  b
i   1  3
ii  2  4

In [33]:
type(df)

pandas.core.frame.DataFrame

## Creating df from a Pandas Series (ds)

In [38]:
ds = pd.Series([1, 2, 3, 4, 5])
ds

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [34]:
type(ds)

pandas.core.series.Series

In [39]:
df = pd.DataFrame(ds)
df

   0
0  1
1  2
2  3
3  4
4  5

In [41]:
df = pd.DataFrame(ds, columns=['col_1'])
df

   col_1
0      1
1      2
2      3
3      4
4      5